@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin: 0;
  background-color: #181818;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.containerflex {
  display: flex;
  flex-direction: row;
}

.head {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px #04c2c9;
  height: 50px;
  width: 100%;
  position: fixed;
}

.menu {
  flex-grow: 10;
  position: absolute;
}

.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 100px;
}

.menu li {
  padding: 0px 30px;
  cursor: pointer;
}

.menu a {
  color: #ffffff;
}

.menu a:hover {
  outline: 0;
  filter: brightness(60%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 600px) {
  .containerflex {
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
}

.menutitle {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: 100px;
  font-size: 2.5rem;
  font-weight: 500;
}

.about {
  display: flex;
  flex-direction: row;
}

.bio {
  margin: 100px 100px;
  margin-right: 60px;
  text-align: center;
  flex: 1;
}

.bio img {
  border: 2px solid #04c2c9;
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

p {
  color: #ffffff;
  margin: 40px 0px;
}

.techs {
  margin: 100px 100px;
  margin-left: 0px;
  text-align: start;
  flex: 1;
}

.techs {
  color: #ffffff;
}

.barflex {
  display: inline-flex;
  width: 95%;
  background-color: #323232;
  justify-content: start;
  margin-bottom: 10px;
}

.barfill {
  background-color: #00a1a7;
  filter: brightness(95%);
}

.bartag {
  color: #ffffff;
  background-color: #04c2c9;
  width: 110px;
  height: 30px;
  text-align: center;
  padding-top: 6px;
  font-weight: 700;
}

.barflex span {
  color: #ffffff;
  padding: 5px 5px;
  font-size: 1rem;
}

.footicons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
  filter: brightness(90%);
  margin-top: 20px;
}

.footicons img {
  height: 30px;
  width: 30px;
  transition: 0.2s;
  margin: 10px 10px;
  margin-bottom: 0px;
}

.footicons p {
  color: #676767;
  margin: 10px 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
